$base-color: #FFF;
$primary: #FB953E;
$primary-75: #FB953EBF;
$gray-1: #00000080;
$gray-2: #666666;
$gray-3: #C7C7C7;
$gray-4: #333333;
$black: #000000;

$content-width: 1440px;
$when-mobile: 1024px;
$when-tablet: 768px;